body{
    background: red;
    margin: 0;
}
.head{
    font-size: 14px;
    line-height: 45px;
    background: #888;
    overflow: hidden;
    width:100%;
}
.head span{
    float: right;
    font-size: 16px;
    padding-right: 30px;
    line-height: 45px;
}
.head span a{
    text-decoration: none;
    padding-left: 20px;
}
.head h1{
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    float: left;
    margin: 0;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul{
    background: #fff;
    overflow: hidden;

}
li{
    border:1px solid #ccc;
    padding:10px;
    width: 25%;
    float: left;
    box-sizing: border-box;
    text-align: center;
}
li img{
    display: block;
    margin: 0 auto;
}